/*Navigation */
#main-navbar
{
	background-color: blue;
	width: 100%;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	text-align: center;
	
}

#navbar-container
{
	float: left;
	left: 50%;
	position: relative;
	
}

#navbar-container ul
{
	display: block;
	margin: 0;
	position: relative;
	float: left;
	right: 50%;
	list-style-type: none;
	padding: 0;
	
}

#navbar-container ul li
{
	display: block;
	padding: 10px 20px;
	float: left;
}

#navbar-container a
{
	text-decoration: none;
	color: #fff;
}

#navbar-container a:active
{
	background-color: #000;
}

#onpage a
{
	text-decoration: underline overline;
}

/* Side Bar */
#sidebar
{
	background-color: red;
	text-align: center;
	height: 100%;
	position: fixed;
	width: 20%;
	right: 0%;
	
}

#sidebar ul
{
	display: block;
	padding: 0;
	list-style-type: none;
}

#sidebar ul li
{
	padding: 15px 0px;
}

#sidebar-container a
{
	color: #fff;
	text-decoration: none;
}

#sidebar-container a:active
{
	background-color: #000;
} 